@import 'src/global-styles/variables';

.notes-container {

  .control-buttons {
    display: flex;
    justify-content: space-between;

    button {
      margin: 10px 15px;
    }
  }

  .collapsed-content{
    p{
      margin:25px 25px;
    }
  }

  section {
    text-align: center;
    display: flex;
    align-items: center;

    #name {
      width: 15%;
    }

    #created {
      width: 15%;
    }

    #category {
      width: 10%;
    }

    #content {
      width: 30%;
    }

    #dates {
      width: 15%;
    }

    #icons {
      width: 15%;
    }
  }
}
